@using BarberShop.Application.Models;
@model List<AppointmentViewModel>

<a class="btn btn-primary mb-2" asp-area="" asp-controller="Home" asp-action="Index">Novo Agendamento</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Horario</th>
            <th scope="col">Cancelado</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (AppointmentViewModel appointment in Model)
            {
                <tr>
                    <td>@appointment.DayText</td>
                    <td>@appointment.Hour : @appointment.Minute</td>
                    <td>
                        @{
                            if (appointment.Available) { <b class="text-success">Nao</b> }
                            else { <b class="text-danger">Sim</b> }
                        }
                    </td>
                    <td><a class="btn btn-link" asp-controller="Management" asp-action="Details" asp-route-id="@appointment.Day">Detalhes</a></td>
                </tr>
            }
        }
    </tbody>
</table>