@using BarberShop.Application.Models;
@model List<PackageViewModel>

<a class="btn btn-primary mb-2" asp-controller="Management" asp-action="CreateUser">Novo Cadastro</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Dia da Semana</th>
            <th scope="col">Horário</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (PackageViewModel package in Model)
            {
                <tr>
                    <td>@package.ClientName</td>
                    <td>@package.DayWeek</td>
                    <td>@string.Format("{0}:{1}", package.Hour, package.Minute)</td>
                    <td><a class="btn btn-link" asp-controller="Management" asp-action="DetailsPackage" asp-route-id="@package.Code">Detalhes</a></td>
                </tr>
            }
        }
    </tbody>
</table>
