@{
    ViewData["Title"] = "Home Page";
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Segunda</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Terça</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Quarta</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
        <div class="container text-center" id="day-one">
            <div class="row mt-2">
                <div class="col" >
                    <div class="d-grid gap-2" id="day-one-left">
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2" id="day-one-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="container text-center">
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
        <div class="container text-center">
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button" disabled>Button</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark" type="button">Button</button>
                        <button class="btn btn-dark" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{


    <script>

        $(document).ready(function () {
            GetHours();
        });

        function GetHours() {

            const url = "/Home/Hours";

            var jqxhr = $.ajax({
                url: url,
                // data: data,
                //success: success,
                dataType: "json"
            });

            jqxhr.done(function (resp) {
                console.log(resp);

                let leftOn = true;
                let rightOn = true;

                resp.forEach(function (item, index, array) {
                    // console.log(item);
                    //console.log(index);
                    // console.log(array);

                    let button = null;

                    if (!(index % 2)) {

                        // secondary
                        if (leftOn) {
                            button = `<button class="btn btn-dark" type="button">${item.title}</button>`;
                        }
                        else {
                            button = `<button class="btn btn-secondary" type="button">${item.title}</button>`;
                        }
                        leftOn = !leftOn;
                        $("#day-one-left").append(button);
                    }
                    else {
                        if (rightOn) {
                            button = `<button class="btn btn-secondary" type="button">${item.title}</button>`;
                        }
                        else {
                            button = `<button class="btn btn-dark" type="button">${item.title}</button>`;
                        }
                        rightOn = !rightOn;
                        $("#day-one-right").append(button);
                    }

                });

                // right and left

            })
        }

    </script>
}