@{
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}









<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="card text-white bg-danger mt-4">
                <div class="card-header"><b>Acesso Negado</b></div>
                <div class="card-body">
                    <h5 class="card-title">Atenção</h5>
                    <p class="card-text">Esta página não está disponível para seu usuário.</p>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>